
/* 
    Created on : 2018-10-6, 21:27:56
    Author     : mengmeng liu
*/

/* CSS Document */

*	{
	background-size: 100%;
	background-color: white;
}
.mainDisplay{
	width: 1300px;
	height:300px;
	background: white;
	margin: 1% auto;
	border: 1px solid black;
}
.displayimg{
	height: 50%;  
	float: left;
	width: 12%;  
	border: 1px solid black; 
	margin: 75px 20px 20px 60px ;
	position: relative; 
}	
.name{
	width: 15%;
	margin-bottom: 0px;
	float: left;
	height: 14%;
	margin: 2%;
	position: relative;
	border: 1px solid black;
}
.personalInfor{
	width: 70%;
	height: 60%;
	float: left;
	margin-top: 0%;
	margin-left: 2%;
    position: relative;
	border: 1px solid black;
	
}
button{       
	margin-top: 12.5%;
	margin-right: 0.5%;
	float: right;
	padding: 8px 24px 8px 24px;  
	margin-bottom: 8px;      
	border: 1px solid black;          
	border-radius: 6px;         
	font-weight: bold;           
	color: white;         
	background: black;      
}     
button:hover{    
	color:  black;   
	background-color: #333;     
}