
/* 
    Created on : 2018-10-6, 16:02:47
    Author     : mengmeng liu
*/
*	{
	background-size: 100%;
	margin: 0px;
	padding: 0px;
	background-color: white;
}

.headslider{
	background: none;
	margin: 40px auto;
	width: 1000px;
	height:1000px;

}

.head{
	margin-left:25px;
	margin-top:100px;
	list-style: none;
	background: #F5F0ED ;
	width: 224px;
	height: 224px;
	float: left;
	text-align: center;
	cursor: pointer; 
}

.headT{
	background-color:rgba(0,0,0,0.1);
	width: auto;
	height: 30px;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	padding-top: 10px;
}

.img1 {
	width: 64px;
	height: 64px;
	display: block;
	margin: 50px 83px;	
}
.contact{

 	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
	margin-top: 35%;
}
